version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile-prod
    image: my-nestjs-app:latest
    container_name: nestjs_app
    ports:
      - "80:3000"
    environment:
      - NODE_ENV=production
      - MONGODB_URI=mongodb://mongodb:27017/taskmanagement
      - JWT_SECRET=your_production_jwt_secret
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    container_name: mongodb
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongodb_data: